[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-302ai
Icon=com-pake-302ai
Name=com-pake-302ai
Name[zh_CN]=302AI
StartupNotify=true
Terminal=false
Type=Application
